FLASK_SECRET_KEY=zmien_mnie_na_losowy_klucz
MICROSOFT_CLIENT_ID=twoj_client_id
MICROSOFT_CLIENT_SECRET=twoj_client_secret
MICROSOFT_TENANT_ID=common
MICROSOFT_REDIRECT_URI=http://localhost:5000/auth/callback
